{% extends 'base_grid.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block grid_content %}
    <!-- Add Post Button -->
    <div class="mt-4">
            <button class="btn btn-dark w-100" onclick="togglePostForm('postFormRow')" aria-label="Add a new post">
                <i class="fa-solid fa-circle-plus" style="color: white;"></i> Add a Post
            </button>
    </div>

    <!-- Post Form -->
    <div id="postFormRow" class="d-none">
        <div class="mt-3 mb-5">
            <div class="post-form-container">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="d-grid gap-2">
                        <button class="btn post-form-button mt-3" aria-label="Submit post">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Newsfeed Section -->
    {% if post_list %}
    <aside>
        <div class="mt-3">
                <span class="badge text-dark p-2">Newsfeed:</span>
        </div>
    </aside>
    {% endif %}
    
    <!-- Display Newsfeed Posts -->
    {% for post in post_list %}
    <div class="mt-3">
            <div class="post-container">
                <div class="d-flex align-items-center">
                    <a href="{% url 'profile' post.author.profile.pk %}">
                        <img class="rounded-circle post-img mr-2" height="40" width="40" src="{{ post.author.profile.picture.url }}" alt="{{ post.author }}'s profile picture"/>
                    </a>
                    <span class="post-author pe-1">
                        <a class="text-primary" href="{% url 'profile' post.author.profile.pk %}">{{ post.author }}</a>
                    </span>
                    <span class="ml-2">{{ post.created_on }}</span>
                </div>
                    <div class="post-body mt-2">
                        <a href="{% url 'post-detail' post.pk %}">
                        {% if post.image %}
                        
                            <img src="{{ post.image.url }}" class="post-image img-fluid" alt="Image for post by {{ post.author }}"/>
                        
                        {% endif %}
                        <p class="border-bottom text-center pb-2">{{ post.body }}</p>
                    </a>
                    </div>
                <div class="mt-2">
                    <!-- Likes button -->
                    <form method="POST" action="{% url 'like' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="like-btn" type="submit" aria-label="Like this post">
                            <i class="far fa-regular fa-heart"> <span>{{ post.likes.all.count }}</span></i>
                        </button>
                    </form>
                </div>
            </div>
    </div>    
    {% empty %}
    <div class="mt-3">
            <p>No posts available. Follow someone...</p>
            <p>You can find users in search</p>
    </div>
    {% endfor %}
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock grid_content %}
