{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12">
           <h5>Add a Post</h5> 
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
           <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Post</button>
                </div>
           </form> 
        </div>
    </div>
    <div class="row justify-content-center mt-3 ">
        <div class="col-md-5 col-sm-12 position-relative">
            <span class="badge bg-info text-dark p-2">My Posts:</span>
        </div>
    </div>
    {% if latest_user_post %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom position-relative">
            <div class="col-md-8 col-sm-12 border-bottom">
                <div>
                    <a href="{% url 'profile' latest_user_post.author.profile.pk %}">
                        <img class="rounded-circle post-img" height="30" width="30" src="{{ latest_user_post.author.profile.picture.url }}"/>
                    </a>
                    <p class="post-text">
                        <a class="text-primary post-link" 
                        href="{% url 'profile' latest_user_post.author.profile.pk %}">{{ latest_user_post.author }}</a>
                        {{ latest_user_post.created_on }}
                    </p>
                </div>
                <div class="position-relative">
                    <p>{{ latest_user_post.body }}</p>
                    <a href="{% url 'post-detail' latest_user_post.pk %}" class="stretched-link"></a>
                </div>
                <div class="d-flex flex-row">
                    <!-- Likes button -->
                    <form method="POST" action="{% url 'like' latest_user_post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-up"><span>{{ latest_user_post.likes.all.count }}</span></i>
                        </button>
                    </form>
                    <!-- Dislike button -->
                    <form method="POST" action="{% url 'dislike' latest_user_post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-down"><span>{{ latest_user_post.dislikes.all.count }}</span></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 position-relative">
            <span class="badge bg-info text-dark p-2">Newsfeed:</span>
        </div>
    </div>
    {% for post in post_list %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom position-relative">
            <div class="col-md-8 col-sm-12 border-bottom">
                <div>
                    <a href="{% url 'profile' post.author.profile.pk %}">
                        <img class="rounded-circle post-img" height="30" width="30" src="{{ post.author.profile.picture.url }}"/>
                    </a>
                    <p class="post-text">
                        <a class="text-primary post-link" 
                        href="{% url 'profile' post.author.profile.pk %}">{{ post.author }}</a>
                        {{ post.created_on }}
                    </p>
                </div>
                <div class="position-relative">
                    <p>{{ post.body }}</p>
                    <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                </div>
                <div class="d-flex flex-row">
                    <!-- Likes button -->
                    <form method="POST" action="{% url 'like' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-up"><span>{{ post.likes.all.count }}</span></i>
                        </button>
                    </form>
                    <!-- Dislike button -->
                    <form method="POST" action="{% url 'dislike' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-down"><span>{{ post.dislikes.all.count }}</span></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
