{% extends 'base_grid.html' %}

{% block grid_content %}

<div class="post-container mt-4">
    <!-- Back Button Row -->
    <div class="mt-3">

            <!-- Back to Post Button -->
            <a href="{% url 'post-detail' object.pk %}">
                <button class="btn btn-dark w-100" aria-label="Go back to the post">
                    <i class="fa-regular fa-circle-left" style="color: white;" aria-hidden="true"></i> Back to Post
                </button>
            </a>
    </div>

    <!-- Delete Confirmation Row -->
    <div class="post-container mt-3">
        <div class=" mt-3 mb-3">

                <!-- Delete Confirmation Form -->
                <form method="POST">
                    
                    {% csrf_token %}
                    <h5>Are you sure?</h5>
                    <p>Deleting post cannot be undone!</p>
                
                    <!-- Delete Button Container -->
                    <div class="d-grid gap-2">
                        <button class="btn btn-danger mt-3" aria-label="Confirm deletion of the post">Delete</button>
                    </div>
                </form>
        </div>
    </div>
</div>
{% endblock grid_content %}
