{% extends 'base_grid.html' %}
{% load crispy_forms_tags %}

{% block grid_content %}

<!-- Navigation Section -->

<div class="mt-2">
    <!-- Back to Profile Button -->
    <a href="{% url 'profile' object.pk %}">
        <button class="btn btn-dark w-100" aria-label="Return to profile">
            <i class="fa-regular fa-circle-left" style="color: white;" aria-hidden="true"></i> Back to Profile
        </button>
    </a>
</div>

<div class="post-container mt-4">

    <!-- Edit Profile Header -->
    <div class="mt-3">
           <h5>Edit Profile</h5> 
    </div>

    <!-- Edit Profile Form -->
    <div class="mt-3 mb-3">

        <!-- Form to Edit User Profile -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            
            <!-- Submit Button -->
            <div class="d-grid gap-2">
                <button class="btn btn-success mt-3" aria-label="Submit profile changes">Submit</button>
            </div>
        </form>
        
        <!-- Delete Profile Form -->
        <div class="d-grid gap-2">
            <a href="{% url 'delete-profile' object.pk %}" class="btn btn-danger mt-3" aria-label="Delete profile">Delete Profile</a>
        </div>
    </div>
    
</div>

<script>
    setTimeout(function() {
    $(document).ready(function() {
        $('#id_location').select2();
    });
}, 1000);  // waits 1 second before running the script
</script>

{% endblock grid_content %}