{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


    <!-- Navigation Section -->
    <div class="mt-3">
            <!-- Back to Profile Button -->
            <a href="{% url 'profile' object.pk %}">
                <button class="btn btn-dark w-100" aria-label="Return to profile">
                    <i class="fa-regular fa-circle-left" style="color: white;" aria-hidden="true"></i> Back to Profile
                </button>
            </a>
    </div>

    <!-- Edit Profile Header -->
    <div class="mt-3">
           <h5>Edit Profile</h5> 
    </div>

    <!-- Edit Profile Form -->
    <div class="mt-3 mb-5">

            <!-- Form to Edit User Profile -->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                
                <!-- Submit Button -->
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3" aria-label="Submit profile changes">Submit</button>
                </div>
            </form>
    </div>
    
</div>

{% endblock content %}
