{% extends 'base.html' %}

{% block content %}

<!-- Main Content Container -->
<div class="user-search-container">

    <!-- Back Button Row -->
    <div class="row justify-content-center mt-3">
        <div class="col-12 col-md-5">
            <a href="{% url 'post-list' %}">
            <button class="btn btn-dark w-100" aria-label="Add a new post">
                <i class="fa-regular fa-circle-left" style="color: white;"></i> Back to Feed
            </button>
            </a>
        </div>
    </div>

    <!-- Profiles Listing Section -->
    {% for profile in profile_list %}
    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-6 user-profile-card">

            <!-- User Image and Name -->
            <div class="user-image-and-name">
                <!-- Profile Picture and Link -->
                <a href="{% url 'profile' profile.pk %}" aria-label="View profile of {{ profile.user }}">
                    <img class="rounded-circle user-profile-image" height="60" width="60" src="{{ profile.picture.url }}" alt="Profile picture of {{ profile.user }}"/>
                </a>

                <!-- Profile Username -->
                <p>
                    <a href="{% url 'profile' profile.pk %}">
                        {{ profile.user }}
                    </a>
                </p>
            </div>

            <!-- Profile Info -->
            <div class="user-profile-info">
                <!-- Profile Followers Count -->
                <p class="icon-text">
                    <i class="fa-solid fa-users"></i>
                    Followers: <strong>{{ profile.followers.all.count }}</strong>
                </p>

                <!-- Profile Location (if available) -->
                {% if profile.location %}
                <p class="icon-text">
                    <i class="fa-solid fa-location-dot"></i>
                    {{ profile.location }}
                </p>
                {% endif %}
                <!-- View Profile Button -->
                <a href="{% url 'profile' profile.pk %}" class="btn btn-dark" style="color: #fff;">
                    View Profile
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}