/* =====================================
   GLOBAL STYLES
   ===================================== */

/* Resets and utility classes */
body {
    background-color: #e4e4e4;
}

footer {
    background-color: #fff;
}

footer i {
    font-size: large;
    color: #0d7136;
}

footer i:hover {
    font-size: x-large;
    color: #2261e9;
}

.remove-default-btn {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.remove-default-btn:hover {
    color: #0d7136;
}

.edit-color {
    color: #333;
}

/* Form control & Input group styles */

.form-group {
    margin-bottom: 0.8rem;
}

.form-control-nav, .input-group-text {
    border: none;
    border-radius: 5px;
    box-shadow: none;
    transition: box-shadow 0.2s ease-in-out;
}

.form-control-nav {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.form-control-nav:focus {
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.content-wrapper {
    background-color: #fff;
}


.input-group-text {
    background-color: transparent;
}

/* Custom dropdown styles */
.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 200px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-content a:hover {
    background-color: #333;
    color: white;
}

.custom-dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-toggle {
    color: #333;
}

/* =====================================
   VIDEO CONTAINER STYLES
   ===================================== */

.video-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: calc(100vh - 132px);
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-container .container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-text {
    color: white;
}

/* =====================================
   FORM STYLES
   ===================================== */

.post-form-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
}

.post-form-button {
    background: linear-gradient(90deg, rgba(62, 193, 238, 1) 0%, rgba(72, 153, 236, 1) 100%);
    color: white;
    border: none;
}

.post-form-button:hover {
    background: linear-gradient(90deg, rgba(72, 153, 236, 1) 0%, rgba(62, 193, 238, 1) 100%);
}

/* =====================================
   POST CONTAINER STYLES
   ===================================== */

.post-container {
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

.post-container-light {
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.post-img {
    margin-right: 10px;
}

.post-author {
    font-weight: bold;
    font-size: 1em;
}

.post-body {
    font-size: 1.1em;
    margin-top: 10px;
    text-decoration: none;
}

.post-body a {
    text-decoration: none;
    color: inherit;
}

.post-image {
    max-width: 100%;
    border-radius: 5px;
    margin: 15px 0;
}

/* =====================================
   LIKE BUTTON STYLES
   ===================================== */

.like-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.like-btn .fa-heart {
    color: #333;
}

.like-btn.liked .fa-heart {
    color: #ff4566;
}

/* =====================================
   COMMENTS STYLES
   ===================================== */

.child-comment {
    margin-left: 2rem;
}

/* =====================================
   FOLLOWERS & PROFILE STYLES
   ===================================== */

.followers-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.followers-count {
    font-weight: 600;
    color: #333;
    padding: 5px 10px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #f7f9fc;
    margin-top: 5px;
}

.follow-form {
    margin: 0;
}

.follow-btn, .unfollow-btn {
    border-radius: 5px;
    padding: 6px 20px;
    font-size: 14px;
}

.follow-btn {
    background-color: #0f5f08;
    color: #fff;
}

.unfollow-btn {
    background-color: #ff5e5e;
    border-color: #ff5e5e;
    color: #ffffff;
}

.follow-btn:hover {
    opacity: 0.9;
    border-radius: 5px;
    border-color: #333;
}

.profile-detail {
    align-items: center;
}

.profile-detail i {
    margin-right: 10px;
}

.profile-detail h6, .profile-detail p {
    margin: 0;
    line-height: 1.5;
}

.user-profile-card {
    background-color: #ffffff;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.user-image-and-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.user-profile-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-profile-info p {
    margin: 0;
}

.user-profile-info a {
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
}