{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<body style="background-color: white;">
    {% include 'navbar.html' %}
    <section class="error-page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center ">500</h1>
                    </div>
                    <div class="content-box">
                        <h3 class="h2">Internal Server Error</h3>
                        <p>Something went wrong on our end.</p>
                        <a href="{% url 'index' %}" class="link_404">Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock body_block %}